body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
 
   
}

.header {
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.93rem 7.4rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.06rem;
  color: #212832;
}
.navbar-btn{
  padding: 5px 12px;
  border-radius: 5px;
  border: 1px solid #212832;
  color: #212832;
  cursor: pointer;
  background: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
<<<<<<< HEAD
.div1{
  display: flex;
}

.container {
  width: 530px;
    height: 435px;
    position: relative;
    top: 117px;
    left: 148px;
    

}

.tagline {
  width: 100%;
  height: 10px;
  top: 217px;
  left: 150px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #DF6951;
}



.about {
  width: 477px;
  height: 250px;
  top: 568px;
  left: 148px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(94, 98, 130, 1);



}

  .content {
    width: 545px;
    height: 267px;
    top: 271px;
    left: 150px;
    font-family: Volkhov;
    font-size: 84px;
    font-weight: 700;
    line-height: 89px;
    letter-spacing: -0.04em;
    text-align: left;
    color: rgba(24, 30, 75, 1);
   
    

  }


  .lady {
    width: 165px;
    height: 564px;
    position: absolute;
    top: -150px; 
    right: 20px; 
}

.sections {
  width: 379px;
  height: 60px;
  top: 600px;
  left: -28px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
 

 
}
.find {
  width: 170px;
  height: 60px;
  top: 692px;
  left: 148px;
  border-radius: 10px;
  border-radius: 10px;

}

.play-btn {
  width: 52px;
  height: 52px;
  top: 696px;
  left: 362px;

}

.demo {
  width: 92px;
  height: 26px;
  top: 711px;
  left: 435px;
padding-left: 20px;
padding-top: 9%;
}

.find {
  
}

}

